*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #181616;
}
a {
  text-decoration: none;
  color: #181616;
  display: inline-block;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 20px;
}
.header {
  background: #f8f0f0;
  max-height: 100px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  padding: 30px 0;
  margin-left: -5px;
}
.header__menu a {
  padding-top: 10px;
  padding-bottom: 8px;
}
.header__menu li + li {
  margin-left: 50px;
}
.menu__text {
  font-weight: 500;
  font-size: 18px;
}
.drop-down__list {
  height: 0;
  overflow: hiden;
  opacity: 0;
  position: absolute;
  width: 175px;
  background-color: #fff;
  border-bottom: 5px solid #676767;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: none;
  padding: 0 15px;
  z-index: 1;
}
.drop-down__list a {
  padding: 13px 0 9px;
  display: block;
}
.drop-down__list a:hover{
  color: #63bce7;
  transition: all 0.3s;
}
.menu__text:hover {
  color: #63bce7;
  transition: all 0.3s;
}
.header__drop-down {
  position: relative;
}
.header__drop-down .drop-down__list li {
  display: block;
}
.drop-down__list li + li a {
  border-top: 1px solid #676767;
}
.header__drop-down > a {
  position: relative;
  padding-left: 10px;
  padding-right: 31px;
  border-top: 5px solid transparent;
}
.header__drop-down > a::after {
  content: '';
  position: absolute;
  background-image: url('../images/arrow-down.svg');
  height: 7px;
  width: 12px;
  top: 14px;
  right: 14px;
  transition: all 0.3s;
}
.header__drop-down > a:hover {
  color: #63bce7;
  border-top: 5px solid #676767;
  background-color: #fff;
  transition: all 0.3s;
}
.header__menu {
  padding-top: 10px;
  padding-bottom: 8px;
}
.header__drop-down.drop-down {
  margin-left: 42px;
}
.header__drop-down.drop-down:hover .drop-down__list {
  display: block;
  height: auto;
  overflow: visible;
  opacity: 1;
  transition: all 0.3s;
}
.header__drop-down.drop-down:hover > a {
  color: #63bce7;
  border-top: 5px solid #676767;
  background-color: #fff;
  transition: all 0.3s;
}
.header__drop-down.drop-down + .header__drop-down.drop-down {
  margin-left: 12px;
}
.header__drop-down .drop-down__list li {
  margin-left: 0;
}
.header__drop-down > a:hover + .drop-down__list {
  display: block;
}
.drop-down__list:hover {
  display: block;
}
.header__drop-down.drop-down:hover drop-down__list {
  display: block;
}
.header__drop-down.drop-down + .header__link-blog {
  margin-left: 20px;
}
.slider {
  background-color: #efefef;
  padding: 30px 0 50px;
}
.slider__item {
  background-image: url(../images/slider-img-1.jpg);
  min-height: 600px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.slick-dots {
  bottom: -50px;
  display: flex;
  justify-content: center;
}
.slick-dots li button {
  /* opacity: 0; */
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #63bce7;
  cursor: pointer;
  font-size: 0;
}
.slick-dots li {
  margin: 0 10px;
}
.slick-dots li.slick-active button {
  width: 30px;
  height: 30px;
  background-color: #63bce7;
}
.items {
  background-color: #f8f0f0;
  padding: 50px 0;
}
.items__inner {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 250px;
}
.item__title {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  color: #f46275;
  padding: 25px 0 0 60px;
  margin-bottom: 30px;
}
.item__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
.item__text {
  height: 155px;
}
.item__link {
  position: relative;
  padding-left: 17px;
  color: #63bce7;
}
.item__link::before {
  content: '';
  position: absolute;
  background-image: url('../images/arrow-down-icon.svg');
  width: 12px;
  height: 7px;
  top: 6px;
  left: 0;
}
.news {
  background-color: #efefef;
  padding: 50px 0 0;
}
.news__title {
  padding: 25px 0 0 65px;
  font-weight: 500;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 40px;
}
.news__title::before {
  content: '';
  background-image: url('../images/arrow-news.svg');
  position: absolute;
  margin-left: -65px;
  margin-top: -30px;
  width: 42px;
  height: 42px;
}
.news__inner {
  padding-left: 30px;
  margin-bottom: 50px;
}
.slick-prev {
  left: 1155px;
}
.slick-next {
  right: 0;
}
.slick-next,
.slick-prev {
  top: -40px;
}
.slick-prev:before,
.slick-next:before {
  content: '';
}
.news__border-bottom {
  border: 1px solid #e3dfdf;
  width: 1200px;
}
.clients {
  padding: 35px 0px 80px;
  background-color: #efefef;
}
.clients__inner {
  display: flex;
  justify-content: space-between;
}
.comments {
  max-width: 560px;
  font-size: 15px;
  line-height: 130%;
}
.comments__title {
  padding: 25px 0 0 65px;
  font-weight: 500;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 70px;
  margin-left: 15px;
}
.comments__title::before {
  content: '';
  background-image: url(../images/clients/chat.svg);
  position: absolute;
  margin-left: -90px;
  margin-top: -40px;
  width: 72px;
  height: 71px;
}
.comments p {
  
}
.comments span {
  display: block;
  padding-top: 30px;
  font-weight: 500;
}
.clients-logo__title{
  padding: 25px 0px 0px 95px;
  font-weight: 500;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 60px;
  margin-left: 45px;
}
.clients-logo__title::before {
  content: '';
  background-image: url(../images/clients/users.svg);
  position: absolute;
  margin-left: -90px;
  margin-top: -40px;
  width: 69px;
  height: 64px;
}
.client-logo__images{
  max-width: 577px;
  margin-bottom: 80px;
}
.client-logo__images-item{
  margin-left: 60px;
  margin-bottom: 20px;
}
.download{
  padding: 25px 40px;
  border: 1px solid #F46275;
  background-color: #F8F0F0;
  display: flex;
  justify-content: space-between;
}
.download__text{
  max-width: 730px;
  line-height: 115%;
}
.download__btn a{
  padding: 20px 30px 20px 80px;
  border: 1px solid #F46275;
  border-radius: 8px;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  color: #F46275;
}
.download__btn a::before{
  content: '';
  background-image: url(../images/clients/download.svg);
  position: absolute;
  width: 65px;
  height: 65px;
  margin-left: -70px;
  margin-top: -15px;
}
.footer{
  background-color: #F8F0F0;
  padding-top: 50px;
  padding-bottom: 100px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  font-size: 18px;
  line-height: 115%;
}
.footer__items-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
}
.footer__text{
  max-width: 290px;
  padding-top: 25px;
}
.footer__item-list{
  max-width: 125px;
}
.footer__list{
  padding-top: 25px;
}
.footer__list li{
  display: block;
  margin-bottom: 15px;
}
.footer__list a:hover{
  color: #63BCE7;
  transition: .3s;
}
.footer__item-contact{
  max-width: 170px;
}
.footer__item-contact span{
  display: block;
}
.footer__adress{
  padding-top: 25px;
}
.footer__adress-name{
  font-weight: 500;
  font-size: 18px;
}
.footer__phone{
  padding-top: 15px;
}
.footer__phone a:hover{
  color:#63BCE7;
  transition: .3s;
}
.footer__social{
  padding-top: 25px;
  max-width: 280px;
}
.footer__social li{
  margin-right: 40px;
  margin-bottom: 20px;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
}
.footer__copy{
  font-size: 18px;
  line-height: 135%;
  max-width: 735px;
}